
<h2>HOLA MUNDO</h2>

<h3>Test</h3>
{{title}}
<input type="text" [(ngModel)]= "title">

<br>
<button (click)=HacerCambios()>Cambiar algo</button>
<br>

<div ej1>
<h3>EJ 1</h3>

<h4>edad UNO</h4>
<input type="number" [(ngModel)]= "edadUno">
<br>
<h4>edad DOS</h4>
<input type="number" [(ngModel)]= "edadDos">

<br>



<h4>La suma es: {{resultadoSuma}}</h4>

<h4>El promedio es: {{resultadoPromedio}}</h4>

<br>
<button (click)=SumaEdades() (click)=PromedioEdades()>Calcular</button>
<button (click)=Limpiar()>Limpiar</button>
<br>
</div>


<!-- <div ej2>
    <h3>EJ 2</h3>

    <h4>Nombre</h4>
    <input type="text" [(ngModel)]= "edadUno">
    <br>
    <h4>Clave</h4>
    <input type="text" [(ngModel)]= "edadDos">
    <br>
<button>Login</button>
</div>
 -->
<router-outlet></router-outlet>
